# Database Config
POSTGRES_DB=your_database_name_here
POSTGRES_USER=your_database_username_here
POSTGRES_PASSWORD=your_database_password_here
DB_PORT=your_database_port_here

# pgAdmin Config
PGADMIN_EMAIL=your_pgadmin_email_here
PGADMIN_PASSWORD=your_pgadmin_password_here


MAPBOX_PUBLIC_TOKEN=your_mapbox_public_token_here
MAPBOX_SECRET_TOKEN=your_mapbox_secret_token_here
# ========================
# JWT CONFIG
# ========================
JWT_SECRET=your_jwt_secret_key_here
JWT_ACCESS_EXPIRATION = your_time_in_milliseconds_for_access_token
JWT_REFRESH_EXPIRATION = your_time_in_milliseconds_for_refresh_token

# ========================
# CLOUDINARY
# ========================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret